.login {
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 4%;
	background-color: ghostwhite;
	padding-top: 7%;
}
.login p{
	font-size: 60px;
}
.login form input {
	margin: 2%;
	width: 50%;
	height: 15%;
	background-color: whitesmoke;
	justify-content: center;
	font-size: 25px;
	
}
.login input[type=submit] {
	background: purple;
	padding-right: 20%;
	padding-left: 20%;
	border-radius: 5px;
}
.login input[type=checkbox] {
  display: absolute;
}


.signup {
  background-image: linear-gradient(to bottom right, black, purple);
  float: right;
  width: 50%;
  margin: 0;
  height: 100%;
}